html,
body {
  width: 100%;
}
.titleLeft strong {
  font-size: 24px;
  color: #000;
  padding-right: 10px;
}
.titleLeft span {
  font-size: 15px;
  margin-right: 10px;
  color: #999;
  margin-top: 2px;
}
.titleRight a {
  font-size: 15px;
  color: #999;
  padding-right: 20px;
}
.title {
  height: 76px;
  line-height: 73px;
  width: 100%;
}
.topBanner {
  width: 100%;
}
.topBanner a {
  display: block;
}
.topBanner a img {
  width: 100%;
  display: block;
}
.topNav {
  height: 30px;
  width: 100%;
  background-color: #000;
  color: #ccc;
  line-height: 30px;
}
.topNav li {
  margin-right: 25px;
}
.topNav li a {
  color: #999;
}
.topNav li a:hover {
  color: #fff;
}
.search {
  padding: 10px 0;
  display: flex;
}
.search .leftLogo {
  flex: 3;
}
.search .leftLogo a {
  display: block;
  width: 100%;
  height: 65px;
  background: url("../img/uploads/logo.png") no-repeat left center;
  background-size: 75%;
}
.search .midSearch {
  flex: 7;
}
.search .midSearch .searchBtn {
  height: 36px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ff2337;
  border-radius: 30px;
  line-height: 36px;
  box-sizing: border-box;
  padding-left: 10px;
  position: relative;
  font-size: 16px;
}
.search .midSearch .searchBtn input[type=text] {
  width: 88%;
  font-size: 14px;
  font-style: italic;
}
.search .midSearch .searchBtn .btn {
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  height: 35px;
  width: 12%;
  border-radius: 30px;
}
.search .midSearch .searchBtn .btn input {
  background: url("../img/icon/icon23.png") no-repeat center;
  display: block;
  width: 100%;
  height: 100%;
}
.search .midSearch .searchTips {
  width: 70%;
  margin: 10px auto;
}
.search .midSearch .searchTips ul {
  width: 100%;
  display: flex;
}
.search .midSearch .searchTips ul li {
  flex: 1;
  text-align: center;
}
.search .midSearch .searchTips ul li a:hover {
  color: #ff2337;
}
.search .rightCar {
  flex: 2;
}
.search .rightCar .car {
  width: 60%;
  height: 36px;
  border: 1px solid #ff2337;
  border-radius: 30px;
}
.search .rightCar .car a {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: url("../img/icon/icon2.png") no-repeat 20px center;
  padding-left: 44px;
}
.search .rightCar .car a:hover {
  color: #ff2337;
}
.mNav {
  display: flex;
  height: 40px;
}
.mNav .slide {
  flex: 2;
  position: relative;
  z-index: 100;
}
.mNav .slide ul {
  width: 100%;
  position: absolute;
  z-index: 100;
}
.mNav .slide ul li {
  width: 100%;
  background: linear-gradient(90deg, red, #ff3264);
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-right: 10px;
  box-sizing: border-box;
}
.mNav .slide ul li:first-child {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.mNav .slide ul li:first-child span {
  padding: 0 12px;
  color: #fff;
}
.mNav .slide ul li a {
  display: block;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 14px;
}
.mNav .slide ul li a img {
  vertical-align: middle;
  padding: 0 10px;
}
.mNav .slide ul li a span {
  font-family: '宋体';
  float: right;
  font-size: 16px;
  padding-right: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.mNav .nav {
  flex: 10;
  display: flex;
}
.mNav .nav ul {
  width: 100%;
  display: flex;
}
.mNav .nav ul li {
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  color: #000;
}
.mNav .nav ul li a {
  font-size: 15px;
}
.mNav .nav ul li a:hover {
  color: #ff2337;
}
.mBanner {
  width: 100%;
  position: relative;
  height: 490px;
  overflow: hidden;
}
.mBanner .imgBox {
  width: 100%;
}
.mBanner .imgBox ul {
  width: 100%;
  position: relative;
}
.mBanner .imgBox ul li {
  width: 100%;
  position: absolute;
}
.mBanner .imgBox ul li a {
  display: block;
  width: 100%;
}
.mBanner .imgBox ul li a img {
  display: block;
  width: 100%;
  height: 490px;
}
.mBanner .btn {
  position: absolute;
  height: 70px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 100;
  width: 100%;
}
.mBanner .btn div {
  position: relative;
}
.mBanner .btn span {
  display: block;
  width: 32px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-size: 26px;
  font-family: '宋体';
}
.mBanner .btn span:first-child {
  left: 190px;
}
.mBanner .btn span:last-child {
  right: 0px;
}
.mBanner .dotteds {
  position: absolute;
  z-index: 100;
  width: 700px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  height: 30px;
}
.mBanner .dotteds ul {
  width: 100%;
  height: 30px;
}
.mBanner .dotteds ul li {
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  border-radius: 50%;
}
.mBanner .dotteds ul li.active {
  background-color: red;
}
.mBanner .botTip {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.mBanner .botTip .tip {
  height: 48px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.8);
}
.mBanner .botTip .tip .tipsL {
  width: 70%;
}
.mBanner .botTip .tip .tipsL ul {
  width: 100%;
  display: flex;
}
.mBanner .botTip .tip .tipsL ul li {
  flex: 1;
}
.mBanner .botTip .tip .tipsL ul li a {
  width: 100%;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.mBanner .botTip .tip .tipsR {
  width: 30%;
}
.mBanner .botTip .tip .tipsR a {
  display: block;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.main {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 20px;
}
.main .contentTop {
  width: 100%;
  background: url("../img/uploads/contentTop.jpg") no-repeat center;
}
.main .contentTop .conTop {
  height: 332px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc;
}
.main .contentTop .conTop a {
  display: block;
  width: 25%;
  height: 332px;
}
.main .limitBuy {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.main .limitBuy .limitBuyTitle {
  height: 73px;
  line-height: 73px;
  width: 100%;
}
.main .limitBuy .limitBuyTitle .titleLeft strong {
  font-size: 24px;
  color: #000;
  padding-right: 10px;
}
.main .limitBuy .limitBuyTitle .titleLeft span {
  font-size: 15px;
  margin-right: 10px;
  color: #999;
  margin-top: 2px;
}
.main .limitBuy .limitBuyTitle .titleLeft .time {
  display: flex;
  align-items: center;
}
.main .limitBuy .limitBuyTitle .titleLeft .time i {
  display: block;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-style: normal;
}
.main .limitBuy .limitBuyTitle .titleLeft .time span {
  margin: 0 5px;
}
.main .limitBuy .limitBuyTitle .titleLeft .time .ge {
  transform: translateX(-6px);
}
.main .limitBuy .limitBuyTitle .titleRight a {
  font-size: 15px;
  color: #999;
}
.main .limitBuy .limitBuyContent {
  width: 100%;
  display: flex;
}
.main .limitBuy .limitBuyContent .leftcon {
  width: 75%;
}
.main .limitBuy .limitBuyContent .leftcon ul {
  width: 100%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.main .limitBuy .limitBuyContent .leftcon ul li {
  width: 50%;
  background-color: #fff;
  height: 201px;
  overflow: hidden;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}
.main .limitBuy .limitBuyContent .leftcon ul li a {
  display: block;
  width: 100%;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitImg {
  width: 40%;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitImg img {
  display: block;
  width: 100%;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon {
  width: 60%;
  margin: 10px 0;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon p {
  color: #ccc;
  line-height: 20px;
  margin-top: 10px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .price {
  margin-top: 10px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .price span {
  color: red;
  font-size: 16px;
  font-weight: 700;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .price del {
  color: #ccc;
  padding-left: 10px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .buy {
  margin-top: 10px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .buy .buyleft {
  width: 65%;
  margin-top: 6px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .buy .buyleft .top {
  width: 80%;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .buy .buyleft .top div {
  width: 60%;
  height: 8px;
  margin-top: 1px;
  background-color: #ff1429;
  border-radius: 4px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .buy .buyleft .bot {
  margin-top: 4px;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .buy .buyBtn {
  width: 35%;
}
.main .limitBuy .limitBuyContent .leftcon ul li a .limitCon .buy .buyBtn span {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff1429;
  border-radius: 14px;
  text-align: center;
  color: #ff1429;
}
.main .limitBuy .limitBuyContent .rightcon {
  width: 25%;
  border: 1px solid #ccc;
  border-left: none;
  box-sizing: border-box;
}
.main .limitBuy .limitBuyContent .rightcon a {
  display: block;
  width: 100%;
}
.main .limitBuy .limitBuyContent .rightcon a img {
  display: block;
  width: 100%;
}
.main .hot .hotTitle {
  height: 73px;
  line-height: 73px;
  width: 100%;
}
.main .hot .hotTitle .titleLeft strong {
  font-size: 24px;
  color: #000;
  padding-right: 10px;
}
.main .hot .hotTitle .titleLeft span {
  font-size: 15px;
  margin-right: 10px;
  color: #999;
  margin-top: 2px;
}
.main .hot .hotTitle .titleRight a {
  font-size: 15px;
  color: #999;
  padding-right: 20px;
}
.main .hot .hotcon {
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.main .hot .hotcon .hotconL {
  flex: 1;
  position: relative;
}
.main .hot .hotcon .hotconL img {
  display: block;
  width: 100%;
}
.main .hot .hotcon .hotconL div.hotdes {
  padding: 19px 0;
  background-color: #414141;
}
.main .hot .hotcon .hotconL div.hotdes p {
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.main .hot .hotcon .hotconL div.hotdes p:first-child {
  font-size: 20px;
  font-weight: 700;
}
.main .hot .hotcon .hotconL div.hotdes p:last-child {
  font-size: 16px;
}
.main .hot .hotcon .hotconL .hotconBtnL {
  position: absolute;
  width: 100%;
  top: 30%;
}
.main .hot .hotcon .hotconL .hotconBtnL span {
  display: block;
  height: 40px;
  width: 26px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-family: '宋体';
  font-size: 20px;
}
.main .hot .hotcon .hotconR {
  flex: 4;
}
.main .hot .hotcon .hotconR ul {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.main .hot .hotcon .hotconR ul li {
  float: left;
  width: 25%;
  border: 1px solid #ccc;
  border-bottom: none;
  box-sizing: border-box;
  border-right: none;
  background-color: #fff;
}
.main .hot .hotcon .hotconR ul li a {
  display: block;
  width: 100%;
  text-align: center;
}
.main .hot .hotcon .hotconR ul li a p {
  color: #000;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 700;
}
.main .every {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.main .every .title {
  height: 75px;
}
.main .every .everyCon {
  width: 100%;
}
.main .every .everyCon ul {
  width: 100%;
}
.main .every .everyCon ul li {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}
.main .every .everyCon ul li .everyitem {
  width: 90%;
  background-color: #fff;
  height: 326px;
}
.main .every .everyCon ul li .everyitem a {
  display: block;
  width: 100%;
}
.main .every .everyCon ul li .everyitem a img {
  width: 100%;
}
.main .every .everyCon ul li .everyitem a .itmedesc {
  padding: 0 10px;
  line-height: 30px;
  font-size: 16px;
  color: #000;
  /* 设置超出部分的显示方式 */
  overflow: hidden;
  /* 在文字末尾换行 */
  word-break: break-all;
  /* 文字溢出显示省略号 */
  text-overflow: ellipsis;
  /* 用来控制显示行数 */
  -webkit-line-clamp: 2;
  /* 文字显示方式,默认水平 */
  -webkit-box-orient: vertical;
  /* 将盒子转为弹性盒子 */
  display: -webkit-box;
}
.main .every .everyCon ul li:first-child div.itmedesc {
  height: 78px;
  line-height: 78px;
  text-align: center;
  background: url("../img/uploads/22.jpg") no-repeat 20px center;
  background-size: 62px;
}
.main .makeup .makeupcon {
  width: 100%;
}
.main .makeup .makeupcon .makeupleft {
  width: 30%;
  background: url("../img/uploads/bg2.jpg") no-repeat;
  height: 540px;
  position: relative;
}
.main .makeup .makeupcon .makeupleft .tip {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .makeup .makeupcon .makeupleft .tip a {
  display: block;
  width: 28%;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #ccc;
  border-radius: 16px;
  float: left;
  background-color: #fff;
  margin-top: 16px;
}
.main .makeup .makeupcon .makeupleft .tip a:hover {
  color: #ff4354;
}
.main .makeup .makeupcon .makeupmid {
  width: 50%;
  height: 540px;
  padding-bottom: 40px;
}
.main .makeup .makeupcon .makeupmid ul {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.main .makeup .makeupcon .makeupmid ul li {
  width: 50%;
  height: 270px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.main .makeup .makeupcon .makeupmid ul li:nth-child(1) {
  background: url("../img/uploads/23.jpg") no-repeat center 110px;
  background-color: #fff;
}
.main .makeup .makeupcon .makeupmid ul li:nth-child(2) {
  background: url("../img/uploads/24.jpg") no-repeat center 110px;
  background-color: #fff;
}
.main .makeup .makeupcon .makeupmid ul li:nth-child(3) {
  background: url("../img/uploads/25.jpg") no-repeat center 110px;
  background-color: #fff;
}
.main .makeup .makeupcon .makeupmid ul li:nth-child(4) {
  background: url("../img/uploads/26.jpg") no-repeat center 110px;
  background-color: #fff;
}
.main .makeup .makeupcon .makeupmid ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.main .makeup .makeupcon .makeupmid ul li a h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main .makeup .makeupcon .makeupmid ul li a p {
  font-size: 15px;
}
.main .makeup .makeupcon .makeupright {
  width: 20%;
  height: 540px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.main .makeup .makeupcon .makeupright .mTitle {
  height: 60px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  line-height: 60px;
}
.main .makeup .makeupcon .makeupright .mTitle span {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}
.main .makeup .makeupcon .makeupright .mTitle i {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 25px;
  background-color: #999;
  border-radius: 50%;
  margin-right: 6px;
}
.main .makeup .makeupcon .makeupright .mTitle i.active {
  background-color: #404040;
}
.main .makeup .makeupcon .makeupright .mrcon {
  height: 480px;
  width: 100%;
}
.main .makeup .makeupcon .makeupright .mrcon ul {
  height: 480px;
  width: 100%;
  display: none;
}
.main .makeup .makeupcon .makeupright .mrcon ul:first-child {
  display: block;
}
.main .makeup .makeupcon .makeupright .mrcon ul li {
  height: 120px;
  border-bottom: 1px solid #ccc;
}
.main .makeup .makeupcon .makeupright .mrcon ul li:last-child {
  border: none;
}
.main .makeup .makeupcon .makeupright .mrcon ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
}
.main .makeup .makeupcon .makeupright .mrcon ul li a .mrcomImg {
  width: 35%;
}
.main .makeup .makeupcon .makeupright .mrcon ul li a .mrcomImg img {
  width: 100%;
  display: block;
}
.main .makeup .makeupcon .makeupright .mrcon ul li a .mrcondesc {
  width: 65%;
}
.main .makeup .makeupcon .makeupright .mrcon ul li a .mrcondesc p {
  margin-bottom: 10px;
}
.main .makeup .makeupcon .makeupright .mrcon ul li a .mrcondesc span {
  color: red;
  font-size: 16px;
  margin-right: 8px;
}
.main .hotbrand {
  border: 1px solid #ccc;
  background-color: #fff;
}
.main .hotbrand .hotbrandTitle {
  width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  height: 48px;
  border-bottom: 1px solid #ccc;
  line-height: 48px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.main .hotbrand .hotbrandCon {
  width: 100%;
}
.main .hotbrand .hotbrandCon .brandItem {
  width: 20%;
  border-right: 1px solid #ccc;
  height: 167px;
  float: left;
  box-sizing: border-box;
}
.main .hotbrand .hotbrandCon .brandItem:last-child {
  border: none;
}
.main .hotbrand .hotbrandCon .brandItem a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main .hotbrand .hotbrandCon .brandItem a .xin {
  top: 10px;
  width: 100%;
  padding-right: 15px;
  box-sizing: border-box;
  text-align: right;
  position: absolute;
  font-size: 20px;
  color: #ff4354;
  font-weight: 700;
  display: none;
}
